<?xml version="1.0"?>
<configuration>
  <configProtectedData>
    <providers>
      <add name="MyProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,&#xD;&#xA;Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xD;&#xA;processorArchitecture=MSIL"
           keyContainerName="MyContainer"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="MyProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>PAYS1/jMDVFHWqPz9X1EbCueUKAW+OdocPiyJxSoZFCj1HPBVD9zP/IuiFYTNhXbV55UZDc4Lnd3TwEE8hD36tu03coE3EAZQ4WdgwnNBMai6K8G8ZFzfjrCAI5bO57IVrlUpOGRX9KCj5jgvOX7kdqYNo5chSjTJws1IuQoeQM=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>wx0GBovhb35Q5Ioki3lIZakUwlR5Rqxkbw/7U+ifxjQwPR2KUx6pZ4pAg6fXwGM3ToZP347UQpy3nsL+d2eCAIPXQYFeAuFGCbfJsKxalJ//LE3TCNt87bUMVupIz1cIcTlg5J0H77qrWwaNnyUQFZMTgZzjpTydonhTVb780PBEQK4aFm8NouSpBmFBLzxHAdM11cNLFCIFM+iYAFZnELeRVKQ5Gr3xTivgm4qrobe5Pff/joQFlhB7zBDSpOA9dt2PGMyj/6J/OZfT4xrifJQ1YfCJG2dAepFSbS2fmSl+N963O3/8IdZcw+pkRKBvJmMf6fZoveFh/KveIb4eveoFGfWJw/dfOL9p4V4Ya5w=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>